<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/custom.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">cyberSchool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="text-decoration:underline">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index" id="signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="login">Login</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="categories">
      <ul class="categoriesList">
        <a href="courses.html">All Courses</a>
        <a href="webdevelopment.html">Web Development</a>
        <a href="mobileapp.html">Mobile Apps</a>
        <a href="programming.html">Programming Language</a>
        <a href="gamedevelopment.html">Game Development</a>
        <a href="database.html">Database</a>
      </ul>

    </div>



        <div class="coursesContainer">

          <a href="../library/courseDetail.html" class="course">
            <h6>FrontEnd Web Development</h6>
            <div class="courseDesc">
              <p>Learn to code websites using HTML,CSS and JavaScript</p>
              <p>By: Robin Rai</p>
              <p>$ 100</p>
              <button type="button" name="button" class="btn btn-primary">Add to Cart</button> <br>
              <button type="button" name="button" class="btn btn-primary">BUY</button>
            </div>
          </a>


          <a href="#" class="course">
            <h6>Backend Web Development</h6>
            <div class="courseDesc">
              <p>Learn to code websites using HTML,CSS and JavaScript</p>
              <p>By: Robin Rai</p>
              <p>$ 100</p>
              <button type="button" name="button">Add to Cart</button>
            </div>
          </a>


          <a href="#" class="course">
            <h6>Android App Development</h6>
            <div class="courseDesc">
              <p>Learn to code websites using HTML,CSS and JavaScript</p>
              <p>By: Robin Rai</p>
              <p>$ 100</p>
              <button type="button" name="button">Add to Cart</button>
            </div>
          </a>

        </div>





  </body>
  <script type="text/javascript" src="../resource/jquery/jquery.min.js">
  </script>
  <script type="text/javascript" src="../resource/BS/popperjs/popper.min.js">
  </script>
  <script type="text/javascript" src="../resource/BS/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../resource/CUSTOMJS/customjs.js">
  </script>
</html>
