<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
      <link rel="stylesheet" href="../css/rating.css">

  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">cyberSchool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="text-decoration:underline">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index" id="signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="login">Login</a>
          </li>
        </ul>
      </div>
    </nav>



    <div class="categories">
      <ul class="categoriesList">
        <a href="courses.html">All Courses</a>
        <a href="webdevelopment.html">Web Development</a>
        <a href="mobileapp.html">Mobile Apps</a>
        <a href="programming.html">Programming Language</a>
        <a href="gamedevelopment.html">Game Development</a>
        <a href="database.html">Database</a>
      </ul>

    </div>



        <div class="coursesContainer">

          <a href="../library/courseDetail.html" class="courseBlock">
            <h6>FrontEnd Web Development </h6>
            <div class="courseDesc">
              <p>
              <span class="courseTitle">Learn to code websites using HTML,CSS and JavaScript</span>
              </p>

              <!-- <p>Learn to code websites using HTML,CSS and JavaScript</p> -->
              <p class="courseTeacher">By: <span class="courseTeacherLabel">Robin Rai</span></p>
              <p class="coursePriceLabel"><span class="coursePriceLabel">Price: </span>$ 100</p>

              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5"/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1"/>
                <label for="star1" title="text">1 star</label>
            </div>
            <br>
            <br>

            <span class="courseCredit"> 200 credit </span>



              <button type="button" name="button" class="btn btn-primary">Add to Cart</button> <br>
              <button type="button" name="button" class="btn btn-primary">BUY</button>
            </div>
          </a>


       
        </div>











  </body>
 
  <script type="text/javascript" src="jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/popperjs/popper.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
  </script>

</html>
