

<%include partials/header %>

<body>
<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <a class="navbar-brand" href="#">cyberSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"   id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="login.html">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2 id="containerBanner">Learn to code, gain a new skill, get a new job</h2>
  <form class="" action="index.html" method="post" id="indexSearch">
    <input type="text" name="" value="" placeholder="Search the courses">
    <button type="button" name="button" class="btn btn-primary">Search</button>
  </form>
  <form class="" action="index.html" method="post" id="signupForm">
    <h3>Signup</h3>
    <input type="text" name="" value="" placeholder="Enter the First name" >
    <input type="text" name="" value="" placeholder="Enter the Last name">
    <input type="text" name="" value="" placeholder="Enter the date">
   <div class="">
      <input type="radio" name="gender" value="male" id="male">
      <label for="male">Male</label>
      <input type="radio" name="gender" value="female" id="female">
      <label for="female">Female</label>
      <input type="radio" name="gender" value="others" id="others">
      <label for="others">Others</label>
   </div>

    <input type="text" name="" value="" placeholder="Enter the phone">
    <input type="text" name="" value="" placeholder="Enter the address">
    <input type="text" name="" value="" placeholder="Enter the email">
    <input type="text" name="" value="" placeholder="Enter the password">
    <div class="agreement">
      <input type="checkbox" name="" value="" id="licenseLabel">
      <label for="licenseLabel">I agree with the license</label>
    </div>
    <button type="button" name="button" class="btn btn-primary">Sign Up</button>
  </form>
  <div class="" id="courseData">
    <p><span class="num"> 50+ </span> <h4>Courses </h4></p>
    <p><span class="num">15+ </span> <h4>Teachers</h4> </p>
    <p><span class="num">200+ </span> <h4>Students</h4> </p>
  </div>
</div>

<div class="topCategories">
  <h3>Top Categories</h3>
  <ul class="topCategoriesUl">
    <a href="#" class="lister">Development</a>
    <a href="#" class="lister">IT and Software</a>
    <a href="#" class="lister">Business</a>
    <a href="#" class="lister">Design</a>
    <a href="#" class="lister">Marketing</a>
    <a href="#" class="lister">Personal Development</a>
  </ul>
</div>

<div class="partners">
  <h3>Our Partnership</h3>
  <img src="img/softwarica.png" alt="">
</div>

<footer>
  <p> &copy; All rights reserved to cyberSchool.inc</p>
  <div class="footerLinks">
    <p><a href="#">About</a></p>
    <p><a href="#">Terms and conditions</a></p>
    <p><a href="#">Contacts</a></p>
  </div>
</footer>


</body>
<% include partials/footer %>
