<!DOCTYPE html>
<html lang="en">
<head>
  <title>cyberSchool</title>
  <!-- <link rel="icon" href="/your_path_to_image/favicon.jpg"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="css/coursedescription.css">


   <script type="text/javascript" src="jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/popperjs/popper.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
  </script>


</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">cyberSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index" id="signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="login">Login</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container-fluid bg-info">
  <div class="courseDesc" style="width:65%">
   <h4 class="courseTitle">Advanced CSS and Sass: Flexbox, Grid, Animations and More ! </h4>
   <h5 class="courseShortDescription">The most advanced and modern CSS course on the internet: master flexbox, CSS Grid, responsive design, and so much more.</h5>
  <h6 class="ratingNumber">Rating: 1 out of 5</h6>
  <h6 class="teacherName">Tutor: Robin Rai</h6>

  <div class="position-absolute">

    <img src="image/cover.png">
    <h6 class="coursePrice">Price: $100</h6>
    <button class="btn btn-primary">ADD TO CART</button>
    <button class="btn btn-primary">ADD TO CART</button>

    

  </div>
   
  </div>

  

  
</div>